.text-overlay {
    position: absolute;
    font-size: var(--reactive-font-size);
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    height: 4%;
    width: 32%;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    align-content: center;
}

.text-overlay::after {
    content: '';
    width: 20%;
    padding-left: 3vmin;
}

.text-overlay ::-webkit-scrollbar {
    display: none;
}

.text-overlay.editing {
    background-color: #00000010;
}

.text-overlay.name {
    top: 8%;
    left: 53%;
}

.text-overlay.incant {
    top: 13%;
    left: 53%;
}

.text-overlay.speed {
    top: 17.7%;
    left: 53%;
}

.text-overlay.range {
    top: 22.5%;
    left: 53%;
}

.text-overlay.type {
    top: 27.2%;
    left: 53%;
}

#p1-icon {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 0;
    top: 6.9%;
    left: 18.9%;
    height: 14.7%;
    width: 20.2%;
    /* object-fit: fill; */
    /* object-fit: cover; */
}

#p2-icon {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    font-size: 0;
    top: 6.9%;
    left: 18.9%;
    height: 14.7%;
    width: 20.2%;
    /* object-fit: fill; */
    /* object-fit: cover; */
}

/* LVL */
.text-overlay-lvl {
    position: absolute;
    font-weight: bold;
    color: rgb(120, 0, 0);
    top: 6.6%;
    right: 9.2%;
    width: 4%;
    font-size: var(--reactive-font-size);
    line-height: var(--reactive-font-size);
    margin: 0;
    align-content: center;
    text-align: center;
    /* background-color: black; */
}


/* DESC */
.text-overlay-desc {
    position: absolute;
    font-size: var(--reactive-font-size);
    margin: 0;
    top: 36%;
    left: 16%;
    width: 78%;
    height: 56%;
    overflow: auto;
    overflow-x: hidden;


    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.text-overlay-desc.editing {
    transition: background-color 0.2s ease-in-out;
    background-color: #00000010;
}

.text-overlay-desc::after {
    content: '';
    display: block;
    height: 50%;
}

/* PAGE */
.page-number {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: calc(var(--reactive-font-size) + 15%);
}