/* General interact */
.interact {
    position: absolute;
    cursor: pointer;

    background: transparent;
    border: none !important;
    z-index: 9999;
    width: 6.7%;
    height: 5%;
    margin: 0;
    padding: 0;
}

/* Previous and next page */
/* Lesson learned: for firefox makes sure to ALWAYS also set top or bottom */
.interact#p1-previous {
    width: 12%;
    height: 100%;
    left: 0%;
    top: 0%;
}

.interact#p2-next {
    width: 12%;
    height: 100%;
    right: 0%;
    top: 0%;
}

.interact#p1-next {
    width: 12%;
    height: 100%;
    right: 0%;
    top: 0%;
}

.interact#p2-previous {
    width: 12%;
    height: 100%;
    left: 0%;
    top: 0%;
}

@media (min-aspect-ratio: 1/1) {
    .interact#p1-next {
        display: none;
    }

    .interact#p2-previous {
        display: none;
    }
}


/* Page options */
.interact.icon {
    width: 24%;
    height: 18%;
    top: 5.3%;
    left: 17%;
}

.interact.settings {
    top: 30%;
    left: 15%;
}

.interact.home {
    top: 30%;
    left: 22.4%;
}

.interact.font {
    top: 30%;
    left: 29.8%;
}

.interact.edit {
    top: 30%;
    left: 37%;
}

.interact.lvl {
    right: 2%;
    border: 1px solid rgb(120, 0, 0) !important;
    background-color: rgb(77, 0, 0);
    color: rgb(255, 255, 255);
    width: 2.5vmin;
    height: 2.5vmin;
    font-size: 2.5vmin;
    
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: none;
}

.interact.lvl.up {
    top: 5%;
}

.interact.lvl.down {
    top: 8%;
}