@font-face {
    font-family: 'Magneto';
    src: url('./pixel.ttf') format('truetype');
}

/* 0.73 is because it gets wonky when above this but below 1, the page  */
@media (max-aspect-ratio: 1/1) {
    .page-2 {
        display: none;
    }
}

body,
html {
    font-family: 'Magneto', sans-serif;
    /* height: 100%; */
    max-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(24, 24, 24);
}

.mirrored {
    transform: scale(1, -1);
}

.svg-overlay {
    position: relative;
    width: 100%;
    max-height: 100vh;
    /* height: 100%; */
}

.container {
    display: flex;
    width: 100%;
    max-height: 100%;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    max-height: 100vh;
    object-fit: contain;
}

.font-toggle-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.2rem;
    z-index: 1000;
    cursor: pointer;

    border: 1px solid #000;
    border-radius: 1rem;
    border-color: #90543c;
    border-width: 0.1rem;
    background-color: #bb8854;
}