.text-overlay {
    position: absolute;
    font-size: 3vmin;
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    height: 4%;
    width: 32%;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0));
    align-content: center;
}

.text-overlay::after {
    content: '';
    width: 20%;
    padding-left: 3vmin;
}

.text-overlay ::-webkit-scrollbar {
    display: none;
}

.text-overlay.editing {
    transition: background-color 0.2s ease-in-out;
    background-color: #00000010;
}

.text-overlay.name {
    position: absolute;
    top: 8%;
    left: 53%;
}

.text-overlay.incant {
    position: absolute;
    top: 13%;
    left: 53%;
}

.text-overlay.speed {
    position: absolute;
    top: 17.7%;
    left: 53%;
}

.text-overlay.range {
    position: absolute;
    top: 22.5%;
    left: 53%;
}

.text-overlay.type {
    position: absolute;
    top: 27.2%;
    left: 53%;
}

.text-overlay-desc {
    position: absolute;
    font-size: 3vmin;
    margin: 0;
    top: 36%;
    left: 16%;
    width: 78%;
    height: 56%;
    overflow: auto;
    overflow-x: hidden;


    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.text-overlay-desc.editing {
    transition: background-color 0.2s ease-in-out;
    background-color: #00000010;
}

.text-overlay-desc::after {
    content: '';
    display: block;
    height: 50%;
}

.page-number {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 4vmin;
}