.spells-overview {
    position: absolute;
    width: calc(var(--unit-width) * 92);
    height: calc(var(--unit-height) * 140);
    left: calc(var(--unit-width) * 23);
    top: calc(var(--unit-height) * 36);

    font-size: var(--reactive-font-size);
    display: flex;
    flex-direction: column;
    gap: calc(var(--unit-height) * 1);

    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
}

.spells-overview-after {
    display: block;
    flex-shrink: 0;
    height: calc(var(--unit-height) * 10);
}

.spell-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

.spell-content {
    display: flex;
    align-items: center;
}

.small-icon {
    width: calc(var(--unit-width) * 20);
    height: calc(var(--unit-height) * 20);
    margin-right: calc(var(--unit-width) * 1);
    object-fit: contain;
}

.reorder-mode .spell-item.selected {
    background-color: #0001;
}

.reorder-mode .spell-item.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.reorder-instructions {
    text-align: center;
}